/********************************************************
	BAZA
*********************************************************/

* {
/*	border:1px solid red;
*/}

html {
  	box-sizing: border-box;
}
*, *:before, *:after {
  	box-sizing: inherit;
}

body, html {
	padding:0;
	margin:0;
	background:white;
	font-size:18px;
	font-family: 'Montserrat', sans-serif;
	color:#454545;
}

.wrapper_center {
	margin:0 auto;
	max-width:1000px;
}

a {
	text-decoration:none;
	color:#454545;
}

/********************************************************
	BANNER MAIN
*********************************************************/

.banner_main {
	min-height:300px;
	padding:20px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	display:flex;
	justify-content:center;
}

.banner_main .wrapper {
	padding:0;
	margin:auto;
}

.banner_main .wrapper .content {
	padding:0;
	color:white;
	text-shadow:1px 1px 1px black;
}

.banner_main .wrapper .content p {

}

/********************************************************
	MAIN MENU
*********************************************************/

.main_menu {
	background:#363636;
}

.main_menu .wrapper {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.main_menu .wrapper .sub_menu {
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}

.main_menu .wrapper .sub_menu.left {

}

.main_menu .wrapper .sub_menu.right {

}

.main_menu .wrapper .sub_menu .menu_entry {
	text-align:center;
	display:block;
	color:white;
	text-decoration:none;
	line-height:50px;
	font-size:14px;
	padding:0 30px;
	background-color:transparent;
	transition:all 500ms;
}

.main_menu .wrapper .sub_menu .menu_entry:hover {
	background-color:#008768;
}

.main_menu .wrapper .sub_menu .menu_entry.has_icon {
	background-repeat:no-repeat;
	background-size:20px 20px;
	background-position:left 20px center;
	padding-left:50px;
}

.main_menu .wrapper .sub_menu .menu_entry.has_icon.anim:hover {
	background-position:left calc(100% - 20px) center;
	padding-left:30px;
	padding-right:50px;
}

.main_menu .wrapper .sub_menu .menu_entry.has_icon.social_fb {
	background-image:url('../img/social_fb_white.png');
}

.main_menu .wrapper .sub_menu .menu_entry.has_icon.social_fb:hover {
	background-color:#0E3A61;
}

/********************************************************
	PART ABOUT
*********************************************************/

.part_about {
	padding:20px;
	background:#EDEDED;
	border-bottom:1px solid #7D7D7D;
}

.part_about .wrapper {
	padding:0;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.part_about .wrapper .left {
	margin:auto 0;
}

.part_about .wrapper .left ul.bars {
	margin:0;
	padding:0;
	max-width:400px;
}

.part_about .wrapper .left ul.bars li {
	padding:0;
	margin:10px 0;
	list-style:none;
}

.part_about .wrapper .left ul.bars li a {
	padding:25px 30px 25px 80px;
	display:block;
	border:1px solid #363636;
	background-color:transparent;
	background-size:32px 32px;
	background-repeat:no-repeat;
	background-position:left 20px center;
	text-align:right;
	color:#363636;
	border-radius:5px;
	width:100%;
	font-size:14px;
	line-height:20px;
	transition:all 500ms;
}

.part_about .wrapper .left ul.bars li a:hover {
	padding:25px 40px 25px 70px;
	border-radius:30px;
}

.part_about .wrapper .center {
	margin:auto 0;
}

.part_about .wrapper .center > p {
	margin:0;
	padding:0;
}

.part_about .wrapper .right {
	margin:auto 0;
}

.part_about .wrapper .right .img_circle {
	width:150px;
	height:150px;
	border-radius:75px;
	overflow:hidden;
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
}

