/********************************************************
	BAZA
*********************************************************/

* {
/*	border:1px solid red;
*/}

html {
  	box-sizing: border-box;
}
*, *:before, *:after {
  	box-sizing: inherit;
}

body, html {
	padding:0;
	margin:0;
	background:white;
	font-size:18px;
	font-family: 'Montserrat', sans-serif;
	color:#454545;
}

.wrapper_center {
	margin:0 auto;
	max-width:1000px;
}

a {
	text-decoration:none;
	color:#454545;
}

/********************************************************
	BANNER MAIN
*********************************************************/

.banner_main {
	min-height:300px;
	padding:20px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	display:flex;
	justify-content:center;
}

.banner_main .wrapper {
	padding:0;
	margin:auto;
}

.banner_main .wrapper .content {
	padding:0;
	color:white;
	text-shadow:1px 1px 1px black;
}

.banner_main .wrapper .content p {

}

/********************************************************
	MAIN MENU
*********************************************************/

.main_menu {
	background:#363636;
}

.main_menu .wrapper {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.main_menu .wrapper .sub_menu {
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}

.main_menu .wrapper .sub_menu.left {

}

.main_menu .wrapper .sub_menu.right {

}

.main_menu .wrapper .sub_menu .menu_entry {
	text-align:center;
	display:block;
	color:white;
	text-decoration:none;
	line-height:50px;
	font-size:14px;
	padding:0 30px;
	background-color:transparent;
	transition:all 500ms;
}

.main_menu .wrapper .sub_menu .menu_entry:hover {
	background-color:#008768;
}

.main_menu .wrapper .sub_menu .menu_entry.has_icon {
	background-repeat:no-repeat;
	background-size:20px 20px;
	background-position:left 20px center;
	padding-left:50px;
}

.main_menu .wrapper .sub_menu .menu_entry.has_icon.anim:hover {
	background-position:left calc(100% - 20px) center;
	padding-left:30px;
	padding-right:50px;
}

.main_menu .wrapper .sub_menu .menu_entry.has_icon.social_fb {
	background-image:url('../img/social_fb_white.png');
}

.main_menu .wrapper .sub_menu .menu_entry.has_icon.social_fb:hover {
	background-color:#0E3A61;
}

/********************************************************
	PART ABOUT
*********************************************************/

.part_about {
	padding:20px;
	background:#EDEDED;
	border-bottom:1px solid #7D7D7D;
}

.part_about .wrapper {
	padding:0;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.part_about .wrapper > div {
	padding:20px 0;
	margin:auto;
}

.part_about .wrapper .left {

}

.part_about .wrapper .left ul.bars {
	margin:0;
	padding:0;
	max-width:400px;
}

.part_about .wrapper .left ul.bars li {
	padding:0;
	margin:10px 0;
	list-style:none;
}

.part_about .wrapper .left ul.bars li a {
	padding:25px 30px 25px 90px;
	display:block;
	background-size:32px 32px;
	background-repeat:no-repeat;
	background-position:left 20px center;
	text-align:center;
	color:#363636;
	width:100%;
	font-size:14px;
	line-height:20px;
	transition:all 500ms;
}

.part_about .wrapper .left ul.bars li a:hover {
	padding:25px 40px 25px 80px;
}

.part_about .wrapper .center {

}

.part_about .wrapper .center > p {
	margin:0;
	padding:0;
}

.part_about .wrapper .right {

}

.part_about .wrapper .right .img_circle {
	width:150px;
	height:150px;
	border-radius:75px;
	overflow:hidden;
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
}

/********************************************************
	PART ARCHIVE
*********************************************************/

.posts_archive_1 {
	background-color:#f9fcff;
}

.posts_archive_1 > .wrapper {
	overflow:hidden;
}

.posts_archive_1 .post {
	padding:50px 0;
	overflow:hidden;
}

.posts_archive_1 .post > .head {
	border-bottom:1px solid black;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.posts_archive_1 .post > .head > .title {
	max-width:60%;
	font-size:22px;
	font-weight:bold;
	padding:15px 0;
	display:block;
	color:#a04e30;
	transition:all 500ms;
}

.posts_archive_1 .post > .head > .time {
	font-size:16px;
	font-weight:bold;
	display:block;
	padding:15px 0;
	color:#3E6E8C;
	transition:all 500ms;
}

.posts_archive_1 .post > .head > .title:hover {
	padding-left:10px;
}

.posts_archive_1 .post > .excerpt {
	font-size:14px;
	line-height:30px;
	color:#404040;
	padding:10px 0;
}

.posts_archive_1 .post > .content {
	font-size:14px;
	line-height:30px;
	color:#404040;
	padding:10px 0;
}

.posts_archive_1 .post > .read_more {
	display:inline-block;
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	padding:20px 0;
	float:right;
	clear:both;
	color:#3E6E8C;
	transition:all 500ms;
}

.posts_archive_1 .post > .read_more:hover,
.posts_archive_1 .post > .head > .time:hover {
	padding-right:10px;
}




.pagination {
	text-align:center;
	margin:20px 0;
	font-size:16px;
}

.pagination > .page-numbers {
	display:inline-block;
	padding:5px 10px;
	background-color:#3B4F40;
	color:white;
	border-radius:5px;
}

.pagination > .page-numbers:hover {
	background-color:#40515C;
}

.pagination > .page-numbers.prev {
	
}

.pagination > .page-numbers.next {
	
}

.pagination > .page-numbers.current {
	background-color:#5C5340;
	cursor:default;
}

/********************************************************
	SINGLE POST CONTENT
*********************************************************/

.post_banner {
	width:100%;
	height:400px;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

.single_post_content {
	padding:40px 0;
	background-color:#f9fcff;
}

.single_post_content > .wrapper {
	
}

.single_post_content .head {
	border-bottom:1px solid black;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.single_post_content .head > .title {
	max-width:60%;
	font-size:22px;
	font-weight:bold;
	padding:15px 0;
	display:block;
	color:#a04e30;
	transition:all 500ms;
}

.single_post_content .head > .time {
	font-size:16px;
	font-weight:bold;
	display:block;
	padding:15px 0;
	color:#3E6E8C;
	transition:all 500ms;
}

.single_post_content .content {
	font-size:14px;
	line-height:30px;
	color:#404040;
}

.back_to_all {
	display:inline-block;
	margin:50px 0;
	font-size:20px;
	font-weight:bold;
	color:#4d9900;
}

/********************************************************
	FOOTER
*********************************************************/

footer {
	background:#363636;
	padding:20px;
	font-size:13px;
	line-height:20px;
	color:white;
	font-family:'Roboto', sans-serif;
}

footer > .wrapper {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

footer > .wrapper > * {
	 margin:auto 0;
}

footer .infobox {

}

footer .author {
	text-align:right;
}

footer .author span {
	display:block;
	padding:5px 0 5px;
}

footer .author span.title {
	color:#E3D53B;
}

footer .author .line {
	border-bottom:1px solid white;
	width:50px;
	margin:0 0 0 auto;
}

footer .author span.sub {
	color:#E3D53B;
}

/********************************************************
	PART HOME CONTENT BOXES
*********************************************************/

.content_boxes {
	padding:50px 5px;
	background:white;
}

.content_boxes > .wrapper {

}

.content_boxes .box {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	padding:20px 0;
	margin:0;
	font-size:14px;
	line-height:25px;
	border:1px solid transparent;
	transition:all 500ms;
}

.content_boxes .box:hover {
	border-bottom:1px solid gray;
	border-top:1px solid gray;
}

.content_boxes .box:nth-child(even) {
	flex-direction:row-reverse;
}

.content_boxes .box .content {
	max-width:700px;
	transition:all 500ms;
	padding:0 15px;
}

.content_boxes .box .thumbnail {
	margin:auto;
	padding:20px 10px;
}

.content_boxes .box .thumbnail img {
	max-width:100%;
}

/********************************************************
	PAGE CONTENT
*********************************************************/

.page_content {
	padding:50px 20px;
}

.page_content > .wrapper {
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}

.page_content .sidebar {
	max-width:300px;
	padding:10px 40px 10px 0;
	margin-right:40px;
	border-right:1px solid #D3D9DB;
}

.page_content .sidebar h2 {
	font-size:18px;
	font-weight:bold;
	padding:0;
	margin:0;
}

.page_content .sidebar .sections_list {
	padding:10px 0;
}

.page_content .sidebar .sections_list .section_title {
	padding:10px 0 10px 10px;
	font-size:12px;
	width:100%;
	display:block;
}

.page_content .sidebar .sections_list .section_title:hover {
	color:#3AAFD6;
}

.page_content .content_box_sections {
	flex-grow:1;
	flex-basis:50%;
	min-width:50%;
}

.page_content .content_box_sections .box {
	padding-bottom:40px;
}

.page_content .content_box_sections .box h2 {
	display:block;
	padding:20px 0;
	margin:0;
	border-bottom:1px solid #9BABB0;
}

.page_content .content_box_sections .box .content {
	font-size:14px;
	line-height:20px;
}

.page_content .content_box_main {
	font-size:14px;
	line-height:20px;
	padding:30px 20px;
}

/********************************************************
	SOCIAL LINK
*********************************************************/

.social_link {
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	padding:50px 20px;
}

.social_link .icon {
	display:block;
	width:32px;
	height:32px;
	background-size:cover;
	margin:0 15px;
}

.social_link .icon.fb {
	background-image:url('../img/facebook.png');
}

.social_link .icon.tw {
	background-image:url('../img/twitter.png');
}

.social_link .icon.gp {
	background-image:url('../img/google-plus.png');
}